@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900");
@font-face {
  font-family: arista;
  src: url("../assets/Zetafonts - AristaPro-Fat.otf"); }
@font-face {
  font-family: denseHeader;
  src: url("../assets/Dense-Regular.otf"); }
body, html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Montserrat';
  font-weight: 400;
  overflow-x: hidden;
  background-color: #8AC8E0;
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat; }

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

#MainContainer {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  #MainContainer #data {
    font-size: 1.5rem; }

#MainContent {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white; }
  #MainContent h1 {
    font-family: 'Montserrat', Arial;
    text-align: center;
    margin-top: -10%;
    color: white;
    font-size: 3rem; }
    @media (max-width: 992px) {
      #MainContent h1 {
        font-size: 2.5rem; } }
  #MainContent #MainHeader {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-direction: column; }
    #MainContent #MainHeader #HeaderLogo {
      font-family: 'Montserrat', Arial;
      text-align: center;
      color: white;
      font-size: 2.0rem; }
      #MainContent #MainHeader #HeaderLogo img {
        height: 150px; }
        @media (max-width: 992px) {
          #MainContent #MainHeader #HeaderLogo img {
            height: 70px; } }
    #MainContent #MainHeader #MainSubLogo p {
      text-transform: uppercase; }
    #MainContent #MainHeader #HeaderMenu ul li {
      display: inline-block; }
      #MainContent #MainHeader #HeaderMenu ul li a {
        color: white;
        text-decoration: none; }
  #MainContent p {
    text-align: center; }
  #MainContent #MainHeader {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0; }
  #MainContent #MainButtonCta {
    height: 50px;
    width: 25%;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FF1A66;
    border: 2px solid #FF1A66;
    cursor: pointer;
    text-decoration: none; }
    #MainContent #MainButtonCta:hover {
      background-color: #FF1A66;
      border-color: white;
      color: white; }

#DescriptionSection {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 5%;
  background: url("../images/bg2.jpg") no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #DescriptionSection h2 {
    margin: 0;
    padding: 2%;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #253845; }
  #DescriptionSection .descriptionVideo {
    border: 10px solid white;
    border-radius: 8px; }
  #DescriptionSection #QuemSomos {
    width: 50%;
    align-content: center;
    text-align: left;
    align-items: center;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column; }
    #DescriptionSection #QuemSomos p {
      margin-top: 100px;
      color: white; }
    #DescriptionSection #QuemSomos #Aviaozinho {
      margin-top: -50px; }
    #DescriptionSection #QuemSomos #QuemSomosCtaButton {
      z-index: 5;
      height: 30px;
      width: 30%;
      color: white;
      border-radius: 4px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 10px;
      padding-left: 30px;
      padding-right: 30px;
      background-color: #FF1A66;
      border: 2px solid #FF1A66;
      cursor: pointer;
      text-decoration: none; }
      #DescriptionSection #QuemSomos #QuemSomosCtaButton:hover {
        background-color: #FF1A66;
        border-color: white;
        color: white; }

#DoacoesHeader {
  background: url("../images/bg3.jpg") no-repeat;
  background-position-x: center;
  background-size: 100%;
  min-height: 300px;
  margin-top: -250px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  #DoacoesHeader h2 {
    margin: 0;
    padding: 2%;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: #253845; }

#DoacoesSection #BolasDoacoes .BolaRow {
  display: flex;
  justify-content: center; }
  #DoacoesSection #BolasDoacoes .BolaRow .BolaContainer {
    text-align: center;
    margin: 50px; }
    #DoacoesSection #BolasDoacoes .BolaRow .BolaContainer .BolaImg {
      height: 200px;
      width: 200px;
      background-color: white;
      border: 10px solid #E3E3E3;
      border-radius: 200px; }
    #DoacoesSection #BolasDoacoes .BolaRow .BolaContainer .BolaTxt {
      color: white;
      padding-top: 25px;
      text-transform: uppercase; }
    #DoacoesSection #BolasDoacoes .BolaRow .BolaContainer .TxtFooter {
      font-size: 1.3rem;
      font-weight: bold; }

#VoluntarioSection {
  background: url("../images/bg4.jpg") no-repeat;
  background-position-x: center;
  background-size: 100%;
  min-height: 710px;
  margin-top: -200px;
  display: flex;
  justify-content: center; }
  #VoluntarioSection #VoluntarioButton {
    z-index: 5;
    height: 60px;
    width: 30%;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 250px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FF1A66;
    border: 2px solid #FF1A66;
    cursor: pointer;
    text-decoration: none; }
    #VoluntarioSection #VoluntarioButton:hover {
      background-color: #FF1A66;
      border-color: white;
      color: white; }

#GaleriaSection {
  background: url("../images/bg5.jpg") no-repeat;
  background-position-x: center;
  background-size: 100%;
  background-color: #B4DBEA;
  min-height: 710px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #GaleriaSection h2 {
    margin: 0;
    padding: 2%;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.4rem;
    color: #253845; }
  #GaleriaSection .BolaRow {
    display: flex;
    justify-content: center; }
    #GaleriaSection .BolaRow .BolaContainer {
      text-align: center;
      margin: 30px; }
      #GaleriaSection .BolaRow .BolaContainer .BolaImg {
        height: 250px;
        width: 250px;
        background-color: white;
        border: 10px solid #FF1A66;
        border-radius: 250px; }
  #GaleriaSection #Aviaozinho2 {
    margin-top: 5%; }

#CtaSection {
  min-height: 400px;
  width: 100%;
  color: white;
  background: url("../images/maps.png") no-repeat;
  background-position-x: center;
  background-size: 100%;
  background-color: #B4DBEA;
  font-size: 13px;
  text-align: center; }
  #CtaSection #background {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    width: 100%;
    min-height: 400px;
    padding-top: 100px; }
  @media (max-width: 992px) {
    #CtaSection {
      padding: 30px;
      width: auto; } }
  #CtaSection h2 {
    margin: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 2.4rem;
    color: white; }
  #CtaSection p {
    font-size: 25px; }
  #CtaSection #CtaContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 60%; }
    #CtaSection #CtaContainer h3 {
      text-align: left;
      font-size: 1.3rem;
      text-transform: uppercase;
      margin: 0;
      padding: 0; }
    #CtaSection #CtaContainer .title {
      font-weight: 300;
      padding-top: 30px; }
    #CtaSection #CtaContainer .email {
      padding-top: 30px;
      text-transform: lowercase;
      color: #14BEFF; }

#Footer {
  background-color: #B4DBEA;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }
  #Footer p {
    text-align: center;
    color: 253845;
    margin: 0;
    text-transform: uppercase; }
    @media (max-width: 992px) {
      #Footer p {
        font-size: 10px; } }

#Leads {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

/*# sourceMappingURL=index.css.map */
